<!--File: football.html -->

<!DOCTYPE html>

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 

<style>
#game {width: 1500px; height:600px; position:relative; }

 #leftSideBar { width: 300px; height: 700px; background-color: lightgreen;}
   #clock { position: relative; top: 0px; left: 0px; height: 60px; width: 100%;font-size:xx-large; background-color: lightgreen; }
   #configure {position: relative; top: -26px; left: 210px; } 
   #falta { font-size: inherit; width: 70px; text-align: center;    margin-left: 10px; }
   #scores {width: 65%; height: 123px; position: relative; top: 8px; left: 0px; background-color: lightgreen; } 
     .scoreInput{width: 30px; font-size: large; position: relative; top: -24px; left: 5px; margin: 2px; margin-left: 10px; text-align:center;}
     .scoreBar {width:134px;}
   #question  {position: relative; left: 3px; top: 15px; height: 200px; width: 98%; font-size: x-large; background-color: lightgreen; }
    .q_a {position:relative;top: 5px; width:100%; height:95%; font-size:x-large;}
   #questionA {position: relative; }  
   #answer_A {color: white;}
   #timer30 { position: relative; top: 25px; height: 50px; background-color: lightgreen; }
   #seconds {width: 1.5em; margin-top: .4em; font-size: large;}
   #stopTimer {position:relative; left:25px; top: -4px;}
   #answer {position: relative; left: 3px; top: 25px; height: 200px; width: 98%; background-color: lightgreen; }
   #showAnswer { position: relative; left: 3px; top: 36px; height: 50px; background-color: lightgreen; padding-top: 10px;}
   #showResponse { position: relative; top: -15px;height: 30px; }
   #grade { position: absolute; left: 0px; top: 700px; width: 300px; height: 48px; background-color: lightgreen; padding-top: 10px; }
   #extras { position: relative; left: 210px; top: -30px;width: 30px; background-color:pink; }

 #rightSide { position: relative; left: 300px; top: -699px;width: 1297px; height: 757px; background-color: lightgreen;}
   #title {position:relative; left: 100px; height: 60px; width: 1200px; background-color: lightgreen;font-size: xx-large;text-align: center;}
   #buttons { position: relative; left: -4px; top: 649px; width: 214px; height: 34px; z-index: 2; background-color: lightgreen; }
     .button {margin:2px;background-color:lightgrey}
   #field {position: absolute; left: 100px; top: 83px; width: 1175px; height: 600px; background-color: #90EE90; }
    .fld { position: relative; top: -18px; height: 640px; margin-left: -5px; }
    #leftArrow { position: absolute; left: 473px; z-index: 0; }
    #rightArrow { position: absolute; top: -9px; left: 495px; z-index: 0;}
    #ball { position: absolute; left: 520px; top: 283px; width: 30px; height: 30px; z-index:4;} 
    #g1 { position: absolute; left: -35px; top: 263px; width: 30px; height: 90px; z-index: 3; }
    #g2{position: absolute; left: 1078px; top: 266px; width: 30px; height: 90px; z-index: 3;}
     .goal {width:30px; height:90px; }
    #leftGoalBarDiv  { position: absolute; left: 4px;    top: 365px; width: 110px; height: 65px; z-index: 2; -webkit-transform: rotate(-90deg)}
    #rightGoalBarDiv { position: absolute; left: 1164px; top: 358px; width: 110px; height: 65px; z-index: 2; -webkit-transform: rotate( 90deg)}

 #trackDiv { position: absolute; left: 0px; top: 773px; width: 1600px; height: 66px; background-color:cyan; }
     #track {  position: relative; left:   1px; top: 1px; }
       .right {background-color:lightgreen;}
       .wrong {background-color:pink;}
       .possessing {background-color:yellow;}
       .goaleekick {text-align: center; background-color: white;}
a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}
  #config { position: absolute; left: 399px; z-index: 5; top: 32px; }
  #panel {position: absolute; top: -3px; left: 300px; width: 300px; height:50px; border-size:2px; }
  #gameSize {width:20px;}

</style>
</head>

<body>
<input type="hidden" id="leftTeam" name="leftTeam" value="-1"></input>
<input type="hidden" id="rightTeam" name="rightTeam" value="-2"></input>
<div id="game">
  <div id="leftSideBar">
    <div id="clock">
       Clock:<input type="text" id="falta" name="remaining"  value ='900' width= 50px readonly >  </div>
    <div id="config">
       <a href='/doConfig' id="doConfig">Configure</a>
    </div>
    <div id="scores">
      <div id="scoreBarLeftDiv"> </div>
      <div id="scoreBarRightDiv"> </div>
    </div>
    <div id="question">
      <input  type='submit' class = "button" id="quest" value="Question" formaction='/question' formmethod="post" formenctype="application/x-www-form-urlencoded" />
      </br>
       <textArea id="question_A" name="questionA" class= "q_a" font-size="x-large" rows="10" cols="15" readonly ><%=questionA %> </textArea>
    </div>
    <div id="timer30">
       Timer: <input type="text" id="seconds" value=''+30 readonly>
       <audio id= "beep" >
           <source src="../public/sounds/beep-07.wav" type="audio/wav">
       </audio>
       <audio id= "homer" >
           <source id="homer" src="../public/sounds/homer.wav" type="audio/wav">
       </audio>
       <input type="button" id="stopTimer" value="Clear"></input> 
    </div>
    <div id="answer">
      <textArea id="answer_A" name="answerA" class= "q_a" rows="10" cols="15" readonly><%=answerA %> </textArea>
    </div>
    <div id="showAnswer">
       <button id="showResponse" class="button" >Show Answer</button>
    </div>
    <div id="grade">

       <select id="team" name="team" autofocus>
       </select>

       <select id="mode" name="mode" >
           <option value="0" >Advance</option>
           <option value="1" >Possess</option>
       </select>

       <select id="rightWrong" name="rightWrong" >
           <option value="0" >Right</option>
           <option value="1" >Wrong</option>
       </select>
       <input type='submit' id="saveGrade" class="button" value="track" formaction='/updateTrack' formmethod="post" formenctype="application/x-www-form-urlencoded" />
   </div>
</div>
  <div id="rightSide">
    <div id="title">Americas Cup of English</div>
    <div id='buttons'>
     <input type="submit" class="button" id="dir" value="Possession" formaction='/possession' formmethod="post" formenctype="application/x-www-form-urlencoded"/>
     <input type="submit" class = "button" id="adv" value="Advance" formaction='/advance' formmethod="post" formenctype="application/x-www-form-url    encoded" />
     Extras: <input type ="text" id="extras"; background-color:pink; >
    </div>

    <div id="field">
      <div id="leftArrowDiv"> </div>
      <div id="rightArrowDiv"> </div>
       <img class="fld" id="quarterfieldA" src="../public/images/quarterFieldA.png">
       <img class="fld" id="midfield" src="../public/images/midField.png">
       <img class="fld" id="quarterfieldD" src="../public/images/quarterFieldD.png">
       <img  id="ball" src="../public/images/ball.png">
       <img id="g1" class:"goal" src="../public/images/soccerGoal.png">
       <img id="g2" class:"goal" src="../public/images/soccerGoal.png">
    </div>

    <div id="leftGoalBarDiv"> </div>
    <div id="rightGoalBarDiv"> </div>
    </div>

  </div>

  <div id="trackDiv">
      <table id="track" border="1px">
        <tr id="leftTeamq"> </tr>
        <tr id="rightTeamq"> </tr>
      </table>
  </div>

  <div id="panel" class="messagepop pop">
   <form method="post" id="new_message" action="/messages">
     Left: <select id="teamLeft" focus>
       <option value=0>Argentina</option>
        <option value=1>Brasil</option>
        <option value=2>Chile</option>
        <option value=3>Mexico</option>
       </select>
       Right:<select id="teamRight">
        <option value=0>Argentina</option>
        <option value=1>Brasil</option>
        <option value=2>Chile</option>
        <option value=3>Mexico</option>
       </select>
       GameSize:<input type="text" id="gameSize" value=100 ></input>
       <input type="submit" class="close" value="Accept"></input>
  </div>
 </form>
</div>

</div>

<script>
function deselect(e) {
  $('.pop').slideFadeToggle(function() {
    e.removeClass('selected');
  });
}

//Popup to get configuration: leftTeam, rightTeam, gameSize
$(function() {
  $('#doConfig').on('click', function() {
    if($(this).hasClass('selected')) {
      deselect($(this));
    } else {
      $(this).addClass('selected');
      $('.pop').slideFadeToggle();
    }
    return false;
  });
  $('.close').on('click', function() {
    deselect($('#doConfig'));
   console.log('Closed the popup: ' + $('#teamLeft').val() +' -> ' + $('#teamRight').val() + ' -> ' + $('#gameSize').val());
   configure(Number($('#teamLeft').val()), Number($('#teamRight').val()), Number($('#gameSize').val()));
    return false;
  });
});

$.fn.slideFadeToggle = function(easing, callback) {
  return this.animate({ opacity: 'toggle', height: 'toggle' }, 'fast', easing, callback);
};

var teams =[];
var ballPositions = ['-30px', '200px', '515px', '830px', '1080px'];
var ans= ["right", "wrong"];
var answerColor = ['#FFFFFF','#000000'];
var count=100;
var numTimers=0;
console.log('Initialize numTimers: ' + numTimers);
var ballDirection = 0; //will be random later.
var ballLocation = 2;
var isVisible = 0; // hide answer is default.
var beep = document.getElementById("beep"); 
var homer = document.getElementById("homer"); 
var stop = false;
$(document).ready( function () {
//alert('JQuery is loaded and ready.');
$('#falta').val(count);

$('#configButton').click(function(){
  //alert('Clicked Config Button.');
  
});

$('#showResponse').click(function(){
  isVisible=isVisible^1;
  $('#answer_A').css('color', answerColor[isVisible]);
  $('#rightWrong').focus(); 
});

  $('#rightWrong').change(function(){
     $('#saveGrade').focus();
});

 $('#stopTimer').click(function(){
      stop=true;
      numTimers--;
      if(numTimers < 1 ){
        $('#quest').disable(false);
        $('#stopTimer').disable(true);
     }
      console.log('NumTimers: ' + numTimers); 
  $('#seconds').val(0);
});

$('#saveGrade').click(function (){
  var ndx = teams.indexOf(Number($('#team').val())); 
  var rightWrong = $('#rightWrong').val();
  var ltt =  $('#leftTeamq'); 
  var rtt =  $('#rightTeamq'); 
  var row = (ndx<1)? ltt : rtt;
  var ot= (row === ltt)? rtt : ltt; //the table row for the other team .
  var num =$('#extras').val();

 // if the administrator entered a number into the "extras" text field, use it to fix the response. (Color it green) else show new number. CreateTd can be a goaleekick.
  if(num > 0 ){
    fixTd(num, rightWrong,row);
  }else{
    createTd(count, rightWrong, row, ot);
 }
 //if this is not a goaleekick, set the dropdown to the other team 
  if(ballLocation !== 0 && ballLocation !== 4){
    ndx=(ndx +1)%2;
   $('#team').val(teams[ndx]); 
  }
});

$('#dir').click(function(){
  ballDirection = ballDirection * -1;
  setDirectionIndicators(ballDirection);
});

$('#adv').click(function(){ //advance the ball in the current direction.
  ballLocation += ballDirection;
  $('#ball').css('left', ballPositions[ballLocation]);
 
  if(ballLocation === 0 && ballDirection === -1){
   console.log('Goal!!');
   $('#leftScore').val(Number($('#leftScore').val()) + 1 );
   ballDirection = -ballDirection;
   setDirectionIndicators(ballDirection);
    $('#team').val(teams[1]);
  }
  if(ballLocation === 4 && ballDirection === 1){
   console.log('Goal!!');
   $('#rightScore').val(Number($('#rightScore').val()) +1 );
   ballDirection = -ballDirection;
   setDirectionIndicators(ballDirection);
    $('#team').val(teams[0]);
  }
 
});

// get next question or question from extras
$('#quest').click(function(){
  var tm = Number($('#team').val());
  var num = Number($('#extras').val());
//  alert('Extras number is: ' + num );
  var question, answer;
  if(num > 1 ){
    question =  (tm === 1)?items[num].qp : items[num].qs;
    answer   = items[num].a;
    startTimer();
  } else {

    count--;
    if(count < 0 ){alert ('Clock is expired. Use Pink questions in the track. Penalty Kicks.');}
    updateClock(count);
    question =  (tm === 1)?items[count].qp : items[count].qs;
    answer   = items[count].a;
    startTimer();
}
 //Encode and set the question and answer, then hide the answer by turning it white on a white background.
  $('#question_A').text(question);
  $('#answer_A').text(answer);
  $('#answer_A').css('color', '#FFFFFF');
});
}); //end document.ready
var setDirectionIndicators=function(bdir){
  $('#leftArrow').css('z-index', (bdir > 0)?  -1:  1);
  $('#rightArrow').css('z-index',(bdir < 1)?  -1:  1);
  $('#mode').val(0); // go to advance mode always when setting direction indicators.
  if(bdir <0) {
     $('#rightTeamName').removeClass('possessing');
     $('#leftTeamName').addClass('possessing');
     $('#team').val(teams[0]);
  } else {
     $('#leftTeamName').removeClass('possessing');
     $('#rightTeamName').addClass('possessing');
     $('#team').val(teams[1]);
  }
}

var createTd=function(num, rw, thisTeam, otherTeam){
   updateClock(num);
   var td ='<td class="' + ans[rw] + '" id="' + num  + '" >' + num + '</td>';
   thisTeam.append(td);

 //if this question is for a goalee kick, put centered X with white background for the other team.
  if(ballLocation === 0 || ballLocation === 4){
  var xid= "X" + num;
  var xTd = '<td id=' + xid + ' class="goaleekick" >X</td>';
    otherTeam.append(xTd);
  }
 
}
var fixTd=function( num, rw, row){
   updateClock(num);
   var id='#' +num;
   $(id).removeClass(ans[rw^1]).addClass(ans[rw])
   $('#extras').val('');
}
var coinFlip = function(){
return Math.floor((Math.random() * 3)-1 ); //will be one of:{-1,0,1} if zero, tries again.Hence, either a -1 or +1 emerges to determine starting possession
}
var updateClock = function(num){
  $('#falta').val(num);
}
jQuery.fn.extend({
    disable: function(state) {
        return this.each(function() {
            this.disabled = state;
        });
    }
});

var startTimer = function(){
   $('#seconds').val(30);
   numTimers++;
   // if numTimers > 0, enable the stopTimerButton and disable the quest button.
   if(numTimers > 0){
      $('#stopTimer').disable(false);
      $('#quest').disable(true);
   }
   console.log('NumTimers: ' + numTimers);
   var endTimeMS= new Date().getTime() + 30000;
   var timeinterval = setInterval(function(){
      var t = clockTick(endTimeMS);
      $('#seconds').val(t);
      if(stop) {
        clearInterval(timeinterval); 
        stop=false;
        $('#seconds').val(0);
      }

      if(t<=0){
       clearInterval(timeinterval);
       beep.play();
       setTimeout(function(){ homer.play();}, 700);
      }
    },1000);
}

var clockTick = function(etms){
  var nowMS = new Date().getTime();
  var tMS = etms - nowMS;
  var seconds = Math.floor(tMS/1000);
  return seconds;
}

var configure=function(lt,rt,sz){
  teams = [lt,rt];
  console.log('Configuring Game with: ' + lt + ', ' + rt + ', ' + sz);
  $("#scoreBarLeftDiv").html(scoreBars[lt] +  '<input type="text" id="leftScore"  name="leftScore"  class="scoreInput" readonly="true" value="0">'); 
  $("#scoreBarRightDiv").html(scoreBars[rt] + '<input type="text" id="rightScore" name="rightScore" class="scoreInput" readonly="true" value="0">'); 
  $("#leftGoalBarDiv").html(  goalBars[lt]); 
  $("#rightGoalBarDiv").html( goalBars[rt]); 
  $("#leftArrowDiv").html(leftArrows[lt]); 
  $("#rightArrowDiv").html( rightArrows[rt]); 
  var leftTd ='<td id="leftTeamName"  class= "trackName" >' + countries[lt] + '</td>';
  var rightTd='<td id="rightTeamName" class= "trackName" >' + countries[rt] +'</td>';
  $('#leftTeamq').html(leftTd);
  $('#rightTeamq').html(rightTd);
//select teams in tracking.
  var leftOption  = '<option value=' + lt + '>' + countries[lt] + '</option>';
  var rightOption = '<option value=' + rt + '>' + countries[rt] + '</option>';
  $('#team').html(leftOption + rightOption);

 // Random draw to decide who has possession at start of game. 
  while(ballDirection === 0){
   ballDirection = coinFlip();
 }
 setDirectionIndicators(ballDirection); 
 count = sz;
 updateClock(sz);
}

// Data for the app.

  var leftArrows= [
                   '<img id="leftArrow" src="../public/images/ArrowLeftA.png">'
                 , '<img id="leftArrow" src="../public/images/ArrowLeftB.png">'
                 , '<img id="leftArrow" src="../public/images/ArrowLeftC.png">'
                 , '<img id="leftArrow" src="../public/images/ArrowLeftM.png">'
                  ];

  var rightArrows= [
                    '<img id="rightArrow" src="../public/images/ArrowRightA.png">'
                  , '<img id="rightArrow" src="../public/images/ArrowRightB.png">'
                  , '<img id="rightArrow" src="../public/images/ArrowRightC.png">'
                  , '<img id="rightArrow" src="../public/images/ArrowRightM.png">'
                   ];

  var countries = ["Argentina", "Brasil", "Chile", "Mexico"];

  var scoreBars =[
                  '<img class="scoreBar" src="../public/images/ArgentinaScoreBar.png">'
                 , '<img class="scoreBar" src="../public/images/BrasilScoreBar.png">'
                 , '<img class="scoreBar" src="../public/images/ChileScoreBar.png">'
                 , '<img class="scoreBar" src="../public/images/MexicoScoreBar.png">'
                 ];

 var goalBars =[
                '<img class="goalBar" src="../public/images/ArgentinaScoreBar.png">'
               , '<img class="goalBar" src="../public/images/BrasilScoreBar.png">'
               , '<img class="goalBar" src="../public/images/ChileScoreBar.png">'
               , '<img class="goalBar" src="../public/images/MexicoScoreBar.png">'
               ];



var items = [

{
	"a": "The weather is cloudy.",
	"count": 26,
	"q": "Cuando tiene  nuben y no puede ver el sol, How is the weather?",
	"qs": "Cuando tiene nubes y no puede ver el sol,How is the weather?", 
         qp: "Quando você tiver nuvens e não pode ver o sol,How is the weather?", 
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "The weather is sunny.",
	"count": 24,
	"q": "Cuando tiene sol sin nuben, How is the weather?",
         qs:"Cuando no hay nubes y puede ver el sol, How is the weather?", 
         qp: "quando você não tem nuvens e pode ver o sol, How is the weather?",
	"set": 1,
	"type": "Tiempo"
},
{
	"a": "The weather is windy.",
	"count": 23,
	"q": "Cuando tiene mucho viento, How is the weather? ",
	"qs": "Cuando tiene mucho viento, How is the weather? ",
         qp: "quando você tem um monte de vento, How is the weather? ",
	"set": 1,
	"type": "Tiempo"
},
{
	"a": "The weather is cold.",
	"count": 25,
	"q": "Cuando temperatura es bajo, How is the weather?",
	qs: "Cuando temperatura es bajo, How is the weather?",
        qp: "quando a temperatura é baixa, How is the weather?",
	"set": 1,
	"type": "Tiempo"
},
{
	"a": "The weather is Foggy.",
	"count": 27,
	"q": "When you have mists on the ground,  How is the weather?",
         qs: "Cuando hay niebla sobre la tierra, How is the weather?", 
         qp: "Quando você tiver nuvens em o terra, e não pode ver o sol, How is the Weather?",
	"set": 1,
	"type": "Tiempo"
},
{
	"a": "plate",
	"count": 14,
	"q": "En Inglés, como se llama un plato?",
	"qs": "En Inglés, como se llama un plato?",
         qp: " em inglês, como você dizer Uma placa?",
	"set": 1,
	"type": "Cocina"
},
{
	"a": "cup",
	"count": 16,
	"q": "En Inglés, como se llama copa?",
        qs:"¿En Inglés, como se llama la copa?",
        qp: " em inglês, como você dizer copa?",
	"set": 1,
	"type": "Cocina"
},
{
	"a": "Spoon",
	"count": 2,
	"q": "En Inglés, como se llama cuchara?",
        qs: "¿En Inglés, como se llama cucharas?",
        qp: " em inglês, como você dizer colher?",
	"set": 1,
	"type": "Cocina"
},
{
	"a": "Fork",
	"count": 75,
	"q": "En Inglés, como se llama tenedor?",
        qs: "¿En Inglés, como se llama tenedor?",
        qp: " em inglês, como você dizer forquilha?",
	"set": 1,
	"type": "Cocina"
},
{
	"a": "Knife",
	"count": 53,
	"q": "En Inglés, como se llama cuchillo?",
        qs: "¿En Inglés, como se llama el cuchillo?",
qp: " em inglês, como você dizer faca?",
	"set": 1,
	"type": "Cocina"
},
{
	"a": "glass",
	"count": 15,
	"q": "En Inglés, como se llama vaso?",
         qs:"¿En Inglés, como se llama vaso?",
         qp: " em inglês, como você dizer vidro para beber?",
	"set": 1,
	"type": "Cocina"
},
{
	"a": "Table",
	"count": 28,
	"q": "En Inglés, como se llama mesa?",
        qs: "¿En Inglés, como se llama mesa?",
        qp: " em inglês, como você dizer tabela?",
	"set": 1,
	"type": "Cocina"
},
{
	"a": "Eggs",
	"count": 81,
	"q": "En Inglés, como se llaman huevos?",
         qs: "¿En Inglés, como se llaman huevos?",
         qp: " em inglês, como você dizer ovos?",
	"set": 1,
	"type": "Cocina"
},
{
	"a": "Cheese",
	"count": 133, 
	"q": "En Inglés, como se llama queso?",
         qs: "¿En Inglés, como se llama el queso?",
         qp: " em inglês, como você dizer o queijo?",
	"set": 1,
	"type": "Cocina"
},
{
	"a": "Milk",
	"count": 4, 
	"q": "En Inglés, como se llama leche?",
         qs: "¿En Inglés, como se la llama leche?",
         qp: " em inglês, como você dizer leite?",
	"set": 1,
	"type": "Cocina"
},
{
	"a": "Cake",
	"count":134,  
	"q": "En Inglés, como se llama pastel o torta?",
        qs: "¿En Inglés, como se llama el pastel o torta?",
        qp: "Como se diz bolo em Inglês?",
	"set": 1,
	"type": "Cocina"
},
{
	"a": "Mother",
	"count": 48,
	"q": "En Inglés, como se dice Madre?",
        qs: "¿En una  como se dados madre?",
        qp: " em uma família,os filhos a chamada mulher mãe. Em inglês, como você dizer mãe?",
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "Father",
	"count": 77,
	"q": "En Inglés, como se dice Padre?",
         qs: "¿En una familia,  como se dados Padre?",
         qp: " em uma família,as crianças o homem, pai de chamada. Em inglês, como você dia Pai?",
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "Uncle",
	"count": 17,
	"q": "En Inglés, como se dice Tio?",
        qs:  "Existen dos  familias. Las madres san hermanas. Los chicos llaman el otro padre Tio. En Ingles, como se dados Tio?",
        qp: " existem duas famílias. As mães são irmãs.As crianças chamada o pai da outra família Tio. Em inglês, como você dizer tio?",
	"type": "Relaciones Familiar"
},
{
	"a": "Aunt",
	"count":135, 
	"q": " En Inglés, como se dice Tia?",
         qs: "Existen dos  familias. Las madres san hermanas. Los chicos llaman el otro madre Tia. En Ingles, como se dados Tia?",
         qp: "Existem duas famílias. As mães são irmãs.As crianças chamada a mãe da outra família Tia. Em inglês, como você dizer Tia?",
	"set": 1,
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "Brother",
	"count":136, 
	"q": "In a family, there are two children, a boy and a girls. The boy is the hermano of the girl. How do you say Hermano en Ingles?",
         qs: "En una familia, hay dos niños: un chico y una chica. El chico es el hermano de la chica. ¿Cómo se dados hermano en Inglés?",
         qp: "em uma família, existem dois filhos: um menino e uma menina. O menino é o irmão da rapariga. Como você dizer irmão em inglês?",
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "Pie",
	"count": 38,
	"q": "En Inglés, como se llama tarta?",
         qs: "¿En Inglés, como se llama tarta?",
         qs: "En inglês, como se diz pie?",
	"set": 1,
	"type": "Cocina"
},
{
	"a": "Sister",
	"count": 32,
	"q": "In a family there are two children, a boy and a girl. The girl is the hermana of the boy. How do you say hermana in ingles?", 
         qs: "En una familia  hay dos niños: un chico y una chica. La chica es la hermana del muchacho. ¿Cómo se dados hermana en inglés?",
         qp: "Em uma família, existem dois filhos: um menino e uma menina. A menina é a irmã do menino. Como você diz Irmã em inglês?",
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "Cousin",
	"count": 86,
	"q": " En Inglés, como se dice Primo?",
         qs: "Existen dos familias, Las madres san hermanas. Una chico en una familia es primo auna chico  de la otra familia.  En ingles, como se dados Sobrino?",
         qp: "Existem duas famílias. As mães são irmãs. As crianças em uma familia são primos de os criancas em outra familia.Em inglês, Como você dizer primo macho?",
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "Cousin",
	"count": 85,
	"q": "Existen dos familias, Las madres san hermanas. Una chica en una familia es prima auna chico de la otra familia. En Inglés, como se dice Prima?",
	"qs": "Existen dos familias, Las madres san hermanas. Una chica en una familia es prima auna chico de la otra familia. En Inglés, como se dice Prima?",
         qp: "Existem duas famílias. As mães são irmãs.As garotas nas famílias seriam primros fêmeas. Em inglês, como você dizer primo fêmea?",
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "Grandmother",
	"count": 58,
	"q": "Relaciones Familiar. En Inglés, como se dice Abuela?",
         qs: "Relaciones  como se dados Abuela?",
         qp: "relações familiares. Como você dizer avó?",
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "Grandfather",
	"count": 5,
	"q": "Relaciones Familiar. En Inglés, como se dice Abuelo?",
         qs: "Relaciones  como se dados Abuelo?",
         qp: "relações familiares. Como você dizer avô?",
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "Nephew",
	"count": 45,
	"q": " En Inglés, como se dice Sobrino?",
         qs: "Existen dos familias, Las madres san hermanas. Una chico en una familia es Sobrino de la otra madre.  En ingles, como se dados Sobrino?",
         qp: "Existem duas famílias. As mães são irmãs.uma criança em uma família seria o sobrinho da mãe na outra família. Em inglês, como você dizer sobrinho?",
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "Niece",
	"count": 44,
	"q": " En Inglés, como se dice Sobrina?",
        qs: "Existen dos familias. Las madres san hermanas, una chica de una familia seria sobrina de la madre de la otra familia,  como se dizer sobrina en ingles?",
        qp: "Existem duas famílias. As mães são irmãs.uma menina em uma família seria a sobrinha da mãe na outra família. Em inglês, como você dizer sobrinha em ingles?",
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "Grandson",
	"count": 57,
	"q": " En Inglés, como se dice Nieto?",
        qs:  " ¿en Inglés, como se dados Nieto?",
        qp: " em inglês, como você dizer neto?",
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "Granddaughter",
	"count": 60,
	"q": " En Inglés, como se dice Nieta?",
        qs: " ¿en Inglés, como se dados Nieta?",
        qp: " em inglês, como você dizer neta?",
	"set": 1,
	"type": "Relaciones Familiar"
},
{
	"a": "Go up",
	"count": 62,
	"q": "Como se dice hacia arriba?",
         qs: "¿Como se dice hacia arriba?",
         qp: " como você dizer subir?",
	"set": 1,
	"type": "Direcciones."
},
{
	"a": "Go Forward",
	"count": 68,
	"q": "Como se dice hacia adelante?",
        qs: "¿Como se dice hacia adelante?",
        qp: " como você dizer avançar?",
	"set": 1,
	"type": "Direcciones."
},
{
	"a": "Go Backward",
	"count": 71,
	"q": "Como se dice hacia atraz?",
        qs: "¿Como se dice hacia atrás?",
        qp: " como você dizer voltar?",
	"set": 1,
	"type": "Direcciones."
},
{
	"a": "Go Right",
	"count": 65,
	"q": "Como se dice hacia derecha?",
         qs: "¿Como se dice hacia derecha?",
         qp: " como você dizer vá para a direita?",
	"set": 1,
	"type": "Direcciones."
},
{
	"a": "Go Left",
	"count": 67,
	"q": "Como se dice hacia esquierda?",
        qs:"¿Como se dice hacia esquierda?",
        qp: " como você dizer vá para a esquerda?",
	"set": 1,
	"type": "Direcciones."
},
{
	"a": "Go Down",
	"count": 70,
	"q": "Como se dice hacia abajo?",
        qs:"¿Como se dice hacia abajo?",
        qp: " como você dizer ir para baixo?",
	"set": 1,
	"type": "Direcciones."
},
{
	"a": "Go North",
	"count": 66,
	"q": "Como se dice hacia el norte?",
        qs: "¿Como se dice hacia el norte?",
        qp: " como você dizer vá para o norte?",
	"set": 1,
	"type": "Direcciones."
},
{
	"a": "Go South.",
	"count": 64,
	"q": "Como se dice hacia el sur?",
        qs: "¿Como se dice hacia el sur?",
        qp: " como você dizer vá para o sul?",
	"set": 1,
	"type": "Direcciones."
},
{
	"a": "Go East.",
	"count": 6,
	"q": "Como se dice hacia el este?",
         qs: "¿Como se dice hacia el este?",
         qp: " como você dizer vá para o oriente?",
	"set": 1,
	"type": "Direcciones."
},
{
	"a": "Go West.",
	"count": 63,
	"q": "Como se dice hacia el oeste?",
        qs: "¿Como se dice hacia el oeste?",
        qp: " como você dizer vá para o Ocidente?",
	"set": 1,
	"type": "Direcciones."
},
{
	"a": "Cold",
	"count": 87,
	"q": "What is the opposite of hot?",
        qs: "qué es lo opuesto de caliente: ?",
        qp: "Qual é o oposto de quente: ?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Clean",
	"count": 8,
	"q": "What is the opposite of Dirty?",
         qs: "qué es lo opuesto de: Dirty ?",
         qp: "Qual é o oposto de: Sujo ?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Sad",
	"count": 36,
	"q": "What is the opposite of Happy?",
         qs: "qué es lo opuesto de: Feliz ?",
         qp: "Qual é o oposto de: Feliz ?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Large",
	"count": 52,
	"q": "What is the opposite of small?",
         qs: "qué es lo opuesto de: Pequeño?",
         qp: "aquilo que é o oposto das pequenas?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Awake",
	"count":137, 
	"q": "What is the opposite of asleep?",
        qs: "qué es lo opuesto de: dormido?",
        qp: "Qual é o oposto de: dormindo?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Slow",
	"count": 31,
	"q": "What is the opposite of Fast?",
         qs: "qué es lo opuesto de la: rápido ?",
         qp: "Qual é o oposto de: Fast ?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Left",
	"count": 51,
	"q": "What is the opposite of Right?",
         qs: "qué es lo opuesto de la: derecha ?",
         qp: "aquilo que é o oposto do direito: ?",

	"set": 1,
	"type": "Opposites"
},
{
	"a": "Girl",
	"count": 72,
	"q": "What is the opposite of Boy?",
        qs: "qué es lo opuesto de: boy ?",
        qp: "Qual é o oposto de: boy ?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "There",
	"count": 22,
	"q": "What is the opposite of Here?",
        qs: "qué es lo opuesto de: Aquí ?",
        qp: "Qual é o oposto de: aqui ?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Deep",
	"count": 83,
	"q": "What is the opposite of Shallow?",
        qs: "qué es lo opuesto de la superficial: ?",
        qp: "Qual é o oposto de Águas Rasas: ?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Sour or Bitter",
	"count": 30,
	"q": "What is the opposite of Sweet?",
         qs: "qué es lo opuesto de: Dulce ?",
         qp: "Qual é o oposto de: Doces ?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Over",
	"count": 42,
	"q": "What is the opposite of Under?",
         qs: "qué es lo opuesto de Under?",
         qp: "Qual é o oposto de Under?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Evil",
	"count": 80,
	"q": "What is the opposite of Good?",
        qs: "qué es lo opuesto: Buena ?",
        qp: "Qual é o oposto: Boa ?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Full",
	"count": 73,
	"q": "What is the opposite of Empty?",
         qs: "qué es lo opuesto de: Empty ?",
         qp: "Qual é o oposto de: Vazio ?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Far",
	"count": 78,
	"q": "What is the opposite of Near?",
         qs: "qué es lo opuesto de: Cerca de ?",
         qp: "Qual é o oposto de: perto de ?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Out",
	"count": 3,
	"q": "What is the opposite of IN?",
         qs: "qué es lo opuesto de dentro: ?",
         qp: "Qual é o oposto de: em",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Closed",
	"count": 88,
	"q": "What is the opposite of Open?",
         qs: "qué es lo opuesto de: Abierto ?",
         qp: "Qual é o oposto de: aberto ?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Healthy",
	"count": 55,
	"q": "What is the opposite of Sick?",
         qs: "qué es lo opuesto de: Enfermo ?",
         qp: "Qual é o oposto de: Doente ?",
	"set": 1,
	"type": "Opposites"
},
{
	"a": "Cow",
	"count": 84,
	"q": "Como se dice Vaca ?",
         qs: "¿Como se dice Vaca ?",
         qp: " em inglês, como você dizer vaca ?",
	"set": 1,
	"type": "Animales"
},
{
	"a": "Horse",
	"count": 54,
	"q": "Como se dice Caballo ?",
         qs: "¿Como se dice Cabalo ?",
         qp: " em inglês, como você dizer cavalo",
	"set": 1,
	"type": "Animales"
},
{
	"a": "Goat",
	"count": 61,
	"q": "Como se dice Cabra ?",
        qs: "¿Como se dice Cabra ?",
        qp: " em inglês, como você dizer Cabra ?",
	"set": 1,
	"type": "Animales"
},
{
	"a": "Sheep",
	"count": 34,
	"q": "Como se dice Oveja ?",
        qs: "¿Como se dice Oveja ?",
        qp: " em inglês, como você dizer ovinos ?",
	"set": 1,
	"type": "Animales"
},
{
	"a": "Bull",
	"count":145, 
	"q": "Como se dice Toro ?",
        qs: "¿Como se dice Toro ?",
        qp: " em inglês, como você dizer touro ?",
	"set": 1,
	"type": "Animales"
},
{
	"a": "Calf",
	"count":139, 
	"q": "Como se dice Ternero ?",
         qs: "¿Como se dice Terneiro ?",
         qp: " em inglês, como você dizer vitelo?",
	"set": 1,
	"type": "Animales"
},
{
	"a": "Pig",
	"count": 37,
	"q": "Como se dice Chancho ?",
         qs: "¿Como se dice Cerdo ?",
         qp: " em inglês, como você dizer porco ?",
	"set": 1,
	"type": "Animales"
},
{
	"a": "Chicken",
	"count":140, 
	"q": "Como se dice Pollo o gallina ?",
         qs: "¿Como se dice de Pollo o gallina ?",
         qp: " em inglês, como você dizer frango ?",
	"set": 1,
	"type": "Animales"
},
{
	"a": "Arm",
	"count": 100,
	"q": "Como se dice Brazo en Inglés?",
         qs: "¿Como se pica el brazo en español?",
         qp: " em inglês, como você dizer braço?",
	"set": 1,
	"type": "Body"
},
{
	"a": "Body",
	"count":141, 
	"q": "Como se dice Cuerpo en Inglés?",
        qs: "¿Como se dice Cuerpo en español?",
        qp: " em inglês, como você dizer corpo?",
	"set": 1,
	"type": "Body"
},
{
	"a": "Leg",
	"count": 50,
	"q": "Como se dice pierna en Inglés?",
         qs: "¿Como se dice pierna en español?",
         qp: " como você dizer perna em inglês?",
	"set": 1,
	"type": "Body"
},
{
	"a": "Finger",
	"count": 76,
	"q": "Como se dice dedo en Inglés?",
         qs: "¿Como se dice dedo en español?",
         qp: " como você dizer dedo?",
	"set": 1,
	"type": "Body"
},
{
	"a": "Toe",
	"count": 1,
	"q": "Como se dice dedo del pie en Inglés?",
        qs: "¿Como se dice dedo del pie en español?",
        qp: " como você dizer toe em inglês?",
	"set": 1,
	"type": "Body"
},
{
	"a": "Head",
	"count": 56,
	"q": "Como se dice cabeca en Inglés?",
        qs: "¿Como se dice cabeza en español?",
        qp: " como se diz em inglês cabeça?",
	"set": 1,
	"type": "Body"
},
{
	"a": "Shoulder",
	"count": 33,
	"q": "Como se dice hombro en Inglés?",
        qs: "¿Como se dice hombro en Inglés?",
        qp: " como se diz em inglês? Ombro",
	"set": 1,
	"type": "Body"
},
{
	"a": "Back",
	"count":142, 
	"q": "Como se dice espalda en Inglés?",
        qs: "¿Como se dice espalda en español?",
        qp: " como você dizer de volta em inglês?",
	"set": 1,
	"type": "Body"
},
{
	"a": "Eye",
	"count": 7,
	"q": "Como se dice ojo en Inglés?",
        qs: "¿Como se dice ojo en Inglés?",
        qp: " como você dizer olho em inglês?",
	"set": 1,
	"type": "Body"
},
{
	"a": "Ear",
	"count": 82,
	"q": "Como se dice oreja en Inglés?",
        qs: "¿Como se dice oreja en español?",
        qp: " como se diz na orelha inglês?",
	"set": 1,
	"type": "Body"
},
{
	"a": "Nose",
	"count": 43,
	"q": "Como se dice nariz en Inglés?",
         qs: "¿Como se dice nariz en Inglés?",
        qp: " como você dizer nariz em inglês?",
	"set": 1,
	"type": "Body"
},
{
	"a": "Mouth",
	"count": 47,
	"q": "Como se dice boca en Inglés?",
	"qs": "Como se dice boca en Inglés?",
        qp: " como você dizer boca em inglês?",
	"set": 1,
	"type": "Body"
},
{
	"a": "One plus three equals four",
	"count": 40,
	"q": "Diga problema y solución en Inglés: 1+3=? ?",
         qs: "Diga problema y solución en Inglés: 1+3=?",
        qp: "dizer o problema e a solução da equação em inglês: 1+3=?",
	"set": 1,
	"type": "Numbers"
},
{
	"a": "Seven minus three equals four",
	"count": 35,
	"q": "Diga problema y solución en Inglés: 7-3=? ?",
        qs: "Diga problema y solución en Inglés: 7-3=?",
        qp: "dizer o problema e a solução da equação em inglês: 7-3=?",
	"set": 1,
	"type": "Numbers"
},
{
	"a": "Three plus Seven equals ten",
	"count": 21,
	"q": "Diga problema y solución en Inglés: 3+7=? ?",
        qs: "Diga problema y solución en Inglés: 3+7=? ?",
        qp: "dizer o problema e a solução da equação em inglês: 3+7=?",
	"set": 1,
	"type": "Numbers"
},
{
	"a": "Two minus one equals one",
	"count": 18,
	"q": "Diga problema y solución en Inglés: 2-1=? ?",
         qs: "Diga problema y solución en Inglés: 2-1=? ?",
         qp: "dizer o problema e a solução da equação em inglês: 2-1=?",
	"set": 1,
	"type": "Numbers"
},
{
	"a": "One plus one equals two",
	"count": 41,
	"q": "Diga problema y solución en Inglés: 1+1=? ?",
         qs: "Diga problema y solución en Inglés: 1+1=? ?",
qp: "dizer o problema e a solução da equação em inglês: 1+1=?",
	"set": 1,
	"type": "Numbers"
},
{
	"a": "Four plus five equals nine", 
	"count": 74,
	"q": "Diga problema y solución en Inglés: 4+5=? ?",
        qs: "Diga problema y solución en Inglés: 4+5=? ?",
qp: " dizer o problema e a solução da equação em inglês: 4+5=?",
	"set": 1,
	"type": "Numbers"
},
{
	"a": "Three plus five equals eight", 
	"count": 20,
	"q": "Diga problema y solución en Inglés: 3+5=? ?",
        qs: "Diga problema y solución en Inglés: 3+5=? ?",
qp: " dizer o problema e a solução da equação em inglês: 3+5=?",
	"set": 1,
	"type": "Numbers"
},
{
	"a": "Present",
	"count": 20,
	"q": "Que tensa?): The pencil is on the desk.(past, present,future)",
	"qs": "Que tensa?): The pencil is on the desk.(past, present,future)",
	"qp": "Que tensa?): The pencil is on the desk.(past, present,future)",
	"set": 1,
	"type": "Tense"
},
{
	"a": "Past",
	"count": 20,
	"q": "Que tensa? I ate my sandwich( past,  present,future)",  
	"qs": "Que tensa? I ate my sandwich( past,  present, future)", 
	"qp": "Que tensa? I ate my sandwich( past,  present, future)", 
	"set": 1,
	"type": "Tense"
},
{
	"a": "Past",
	"count": 20,
	"q": "Que tensa?: We had a great party! (past, present, future)", 
	"qs": "Que tensa?: We had great party!( past,  present,future)",
	"qp": "Que tensa?: We had a great party! (past, present, future)", 
	"type": "Tense"
},
{
	"a": "Future",
	"count": 20,
	"q": "Que tensa?: We will do it later!(past, present, future)",
	"qs": "Que tensa?: We will do it later!(past, present future)",
	"qp": "Que tensa?: We will do it later!(past, present, future)",
	"type": "Tense"
},
{
	"a": "Present",
	"count": 20,
	"q":  "Que tensa? He is outside. (past, present, future)",
	"qs": "Que tensa? He is outside. (past, present, future)",
	"qp": "Que tensa? He is outside. (past, present, future)",
	"type": "Tense"
},
{
	"a": "is",
	"count": 20,
	"q": "Fill in Blank: Jim  ___ hungry.(am, is, are) ",
	"qs": "Fill in Blank: Jim  ___ hungry.(am, is, are) ",
	 qp: "Fill in Blank: Jim  ___ hungry.(am, is, are) ",
	"type": "Verb Conjugation"
},
{
	"a": "are",
	"count": 20,
	"q": "Fill in Blank(am, is, are): Bill and Patty  ___ lost.",
	"qs": "Fill in Blank(am, is, are): Bill and Patty  ___ lost.",
	"qp": "Fill in Blank(am, is, are): Bill and Patty  ___ lost.",
	"type": "Verb Conjugation"
},
{
	"a": "are",
	"count": 20,
	"q": "Fill in Blank (am, is, are): We  ___ at home.",
	"qs": "Fill in Blank (am, is, are): We  ___ at home.",
	"qp": "Fill in Blank (am, is, are): We  ___ at home.",
	"type": "Verb Conjugation"
},
{
	"a": " is singing",
	"count": 20,
	"q": "Fill in Blank: Billy ___ .(am running, is singing, are eating)",
	"qs": "Fill in Blank: Billy ___ .(am running, is singing, are eating)",
	qp: "Fill in Blank: Billy ___ .(am running, is singing, are eating)",
	"type": "Verb Conjugation"
},
{
	"a": " am not going",
	"count": 20,
	"q": "Fill in Blank: I ______(a. am not going b. is grateful c.are sad)", 
	"qs": "Fill in Blank: I ______(a. am not going b. is grateful c.are sad)", 
	"qp": "Fill in Blank: I ______(a. am not going b. is grateful c.are sad)", 
	"type": "Verb Conjugation"
},
{
	"a": "they",
	"count": 20,
	"q": "Fill in Blank): What are ____ bringing?(a. he b. they c. Tim)",
	"qs": "Fill in Blank): What are ____ bringing?(a. he b. they c. Tim)",
	"qp": "Fill in Blank): What are ____ bringing?(a. he b. they c. Tim)",
	"type": "Verb Conjugation"
},
{
	"a": "Jim",
	"count": 20,
	"q": "Fill in Blank: What is  ______ doing? (a. Jim b. her c. they)",
	"qs": "Fill in Blank: What is  ______ doing? (a. Jim b. her c. they)",
	"qp": "Fill in Blank: What is  ______ doing? (a. Jim b. her c. they)",
	"type": "Verb Conjugation"
},
{
	"a": "its",
	"count": 20,
	"q": "Fill in Blank:  My dog lost _______________ collar.(a. its b. she c. him)",
	"qs": "Fill in Blank:  My dog lost _______________ collar.(a. its b. she c. him)",
	"qp": "Fill in Blank:  My dog lost _______________ collar.(a. its b. she c. him)",
	"type": "Verb Conjugation"
},
{
	"a": "us",
	"count": 20,
	"q": "Fill in Blank: The horses belong to _____________ .(a. she b. he c. us) ",
	"qs": "Fill in Blank: The horses belong to _____________ .(a. she b. he c. us) ",
	"qp": "Fill in Blank: The horses belong to _____________ .(a. she b. he c. us) ",
	"type": "Verb Conjugation"
},
{
	"a": "Monday",
	"count": 20,
	"q": "¿Como se dice _____ lunes_____ en Inglés?",
         qs: "¿Como se dice _____ lunes_____ en Inglés?",
         qp: " como você dizer _____ Segunda-feira_____ em inglês?",
	"type": "Days of the Week"
},
{
	"a": "Wednesday",
	"count": 20,
	"q": "¿Como se dice ___ miércoles ___ en Inglés?",
         qs: "¿Como se dice ____ miércoles ______ en Inglés?",
         qp: " como você dizer ____Quarta-feira ______ em inglês?",
	"type": "Days of the Week"
},
{
	"a": "Tuesday",
	"count": 20,
	"q": "¿Como se dice _____martes ___  en Inglés?",
         qs: "¿Como se dice ___ martes __ en Inglés?",
         qp: " como você dizer _____ terça-feira Inglês?",
	"type": "Days of the Week"
},
{
	"a": "Thursday",
	"count": 20,
	"q": "¿Como se dice _____jueves_____ en Inglés?",
         qs: "¿Como se dice _____ jueves _____ en Inglés?",
         qp: " como você dizer _____ Quinta-feira _____ em inglês?",
	"type": "Days of the Week"
},
{
	"a": "Friday",
	"count": 20,
	"q": "¿Como se dice _____viernes_____ en Inglés?",
         qs: "¿Como se dice _____ viernes _____ en Inglés?",
         qp: " como você dizer _____ Sexta-feira _____ em inglês?",
	"type": "Days of the Week"
},
{
	"a": "Saturday",
	"count": 20,
	"q": "¿Como se dice _____Sabado_____ en Inglés?",
        qs: "¿Como se dice _____ Sábado _____ en Inglés?",
         qp: " como você dizer _____ Sábado _____ em inglês?",
	"type": "Days of the Week"
},
{
	"a": "Sunday",
	"count": 20,
	"q": "¿Como se dice _____domingo_____ en Inglés?",
         qs: "¿Como se dice _____ domingo _____ en Inglés?",
         qp: " como você dizer _____ Domingo _____ em inglês?",
	"type": "Days of the Week"
},
{
	"a": "January",
	"count": 20,
	"q": "¿Como se dice _____enero_____ en Inglés?",
         qs: "¿Como se dice _____ enero _____ en Inglés?",
         qp: " como você dizer _____ de Janeiro de _____ em inglês?",
	"type": "Months of the Year"
},
{
	"a": "July",
	"count": 20,
	"q": "¿Como se dice _____julio_____ en Inglés?",
         qs: "¿Como se dice _____ julio  _____ en Inglés?",
         qp: " como você dizer _____ de Julho _____ em inglês?",
	"type": "Months of the Year"
},
{
	"a": "August",
	"count": 20,
	"q": "¿Como se dice _____Agosto_____ en Inglés?",
         qs: "¿Como se dice _____ Agosto _____ en Inglés?",
         qp: " como você dizer _____ agosto _____ em inglês?",
	"type": "Months of the Year"
},
{
	"a": "October",
	"count": 20,
	"q": "¿Como se dice _____Octubre_____ en Inglés?",
        qs: "¿Como se dice _____ Octubre _____ en Inglés?",
        qp: " como você dizer _____ de Outubro de _____ em inglês?",
	"type": "Months of the Year"
},
{
	"a": "November",
	"count": 20,
	"q": "¿Como se dice _____Noviembro___ en Inglés?",
         qs: "¿Como se dice ________ Noviembre en Inglés?",
         qp: " como você dizer ________ de novembro em inglês?",
	"type": "Months of the Year"
},
{
	"a": "December",
	"count": 20,
	"q": "¿Como se dice _____Diciembre___ en Inglés?",
         qs: "¿Como se dice ________ Diciembre en Inglés?",
         qp: " como você dizer ________ de dezembro em inglês?",
	"type": "Months of the Year"
},
{
	"a": "April",
	"count": 20,
	"q": " ¿Como se dice _____Abril___ en Inglés?",
        qs: "¿Como se dice ________ Abril en Inglés?",
qp: " como você dizer ________ de Abril em inglês?",
	"type": "Months of the Year"
},
{
	"a": "May",
	"count": 20,
	"q": "¿Como se dice _____Maio______en Inglés?",
        qs: "¿Como se dice _____ Maio ______ en Inglês?",
        qp: " como você dizer _____ Maio ______ em inglês?",
	"type": "Months of the Year"
},
{
	"a": "June",
	"count": 20,
	"q": "¿Como se dice _____Junio___ en Inglés?",
        qs: "¿Como se dice ________ Junio __ en Inglés?",
        qp: " como você dizer ________ Junho  __ em inglês?",
	"type": "Months of the Year"
},
{
	"a": "Happy Birthday",
	"count": 20,
	"q": "¿Como se dice _____Felic cupleanos ___ en Inglés?",
        qs: "¿Como se dice _____ Feliz cumpleaños ___ en Inglés?",
qp: " como você dizer _____ Feliz Aniversário _____ em inglês?",
	"type": "Phrases"
},
{
	"a": "I am ",
	"count": 20,
	"q": "¿Como se dice _____Yo soy ___ en Inglés?",
        qs: "¿Como se dice _____Yo soy ___ en Inglés?",
        qp: " como você dizer _____Estou _____ em inglês?",
	"type": "Phrases"
},
{
	"a": "I can ",
	"count": 20,
	"q": "¿Como se dice _____Yo puedo ___ en Inglés?",
        qs: "¿Como se dice _____Yo puedo ___ en Inglés?",
        qp: " como você dizer _____ Eu posso ______ em inglês?",
	"type": "Phrases"
},
{
	"a": "I have ",
	"count": 20,
	"q": "¿Como se dice _____tengo__ en Inglés?",
        qs: "¿Como se dice _____ tengo __ en Inglés?",
        qp: " como você dizer _____ tenho __ em inglês?",
	"type": "Phrases"
},
{
	"a": "telephone",
	"count": 20,
	"q": "How do you say _____ telephone ___ in English?",
        qs: "¿Como se dice _____ teléfono ___ en Inglés?",
        qp: " como você dizer _____ telefone _____ em inglês?",
	"type": "Phrases"
},
{
	"a": "mouth",
	"count": 20,
	"q": "¿Como se dice _____boca ___ en Inglés?",
        qs: "¿Como se dice _____ boca ___ en Inglés?",
        qp: " como você dizer _____ boca _____ em inglês?",
	"type": "Phrases"
},
{
	"a": "brown",
	"count": 20,
	"q": "¿El color de cafe es ____ ?",
        qs: "¿El color de cafe es ________?",
        qp: " é a cor de café é de ________?",
	"type": "Colores"
},
{
	"a": "black",
	"count": 20,
	"q": "¿En Inglés, negro es ________?",
	"qs": "¿En Inglés, negro es ________?",
         qp: " em inglês, preto é de ________?",
	"type": "Colores"
},
{
	"a": "red",
	"count": 20,
	"q": "¿En Inglés, rojo es ________?",
        qs: " rojo es ________?",
        qp: " em inglês, vermelho é de ________?",
	"type": "Colores"
},
{
	"a": "green",
	"count": 20,
	"q": "¿El color de verde es ________?",
        qs: "¿El color de verde es ________?", 
        qp: " a cor verde é de ________?",
	"type": "Colores"
},
{
	"a": "orange",
	"count": 20,
	"q": "¿El color de naranjada es ________?",
        qs: "¿El color de naranjada es ________?",
        qp: "  é a cor de laranja é ________?",
	"type": "Colores"
},
{
	"a": "blue",
	"count": 20,
	"q": "¿El color de azul es ________?",
        qs: "¿El color de azul es ________?",
        qp: "  é a cor azul é de ________?",
	"type": "Colores"
}
]
</script>
</body>

</html>
