<!--File: football2.html -->

<!DOCTYPE html>

<html lang="en">
        <link rel="stylesheet" href="fbsa.css">
        <script src="../js/sysjs/jquery.js"></script>
</head>

<body>
<div id="game">
  <div id="leftSideBar">
    <div id="clock">
       Clock:<input type="text" id="falta" name="remaining" tabindex= "-1" value ='900' width= 50px readonly >  </div>
    <div id="config">
       <a href='/doConfig' id="doConfig" tabindex="9" >Configure</a>
    </div>
    <div id="scores">
      <div id="scoreBarLeftDiv"> </div>
      <div id="scoreBarRightDiv"> </div>
 <audio id= "goal" >
           <source src="../public/sounds/fbsaGoal.wav" type="audio/wav">
       </audio>
    </div>
    <div id="question">
      <input  type='button' class = "button" id="quest" tabindex= "10" value="Question" />
      </br>
       <textArea id="question_A" tabindex= "-1" class= "q_a" font-size="x-large" rows="15" cols="15" readonly ><%=questionA %> </textArea>
    </div>
    <div id="timer30">
       Timer: <input type="text" id="seconds" tabindex= "-1" value=''+30 readonly>
       <audio id= "beep" >
           <source src="../public/sounds/beep-07.wav" type="audio/wav">
       </audio>
       <audio id= "homer" >
           <source id="homer" src="../public/sounds/homer.wav" type="audio/wav">
       </audio>
       <input type="button" id="stopTimer" tabindex= "11"  value="Clear"></input> 
    </div>
    <div id="answer">
      <textArea id="answer_A" class= "q_a" rows="5" cols="15" tabindex= "-1" readonly><%=answerA %> </textArea>
    </div>
    <div id="showAnswer">
       <button id="showResponse" class="button" tabindex="12" >Show Answer</button>
    </div>
    <div id="grade">

       <select id="team" name="team" tabindex= "-1"  autofocus>
       </select>

       <select id="mode" name="mode"  tabindex= "-1" >
           <option value="0" >Advance</option>
           <option value="1" >Possess</option>
       </select>

       <select id="rightWrong" name="rightWrong" tabindex="13" >
           <option value="-1" >?</option>
           <option value="0" >Wrong</option>
           <option value="1" >Right</option>
       </select>
       <input type='button' id="saveGrade" class="button" tabindex="14" value="track" />
   </div>
</div>
  <div id="rightSide">
    <div id="title">Americas Cup of English</div>
    <div id='buttons'>
    <input type="button" class="button" id="dir" tabindex = "-1" value="Possession" />
    <input type="button" class = "button" id="adv" tabindex = "-1" value="Advance" />
     Extras: <input type ="text" id="extras"; background-color:pink; tabindex= "15"  >
    </div>

    <div id="field">
      <div id="leftArrowDiv"> </div>
      <div id="rightArrowDiv"> </div>
       <img class="fld" id="quarterfieldA" src="../public/images/quarterFieldA.png">
       <img class="fld" id="midfield" src="../public/images/midField.png">
       <img class="fld" id="quarterfieldD" src="../public/images/quarterFieldD.png">
       <img  id="ball" src="../public/images/ball.png">
       <img id="g1" class:"goal" src="../public/images/soccerGoal.png">
       <img id="g2" class:"goal" src="../public/images/soccerGoal.png">
    </div>

    <div id="leftGoalBarDiv"> </div>
    <div id="rightGoalBarDiv"> </div>
    </div>

  </div>

  <div id="trackDiv">
      <table id="track" border="1px">
        <tr id="leftTeamq" tabindex="-1" > </tr>
        <tr id="rightTeamq" tabindex="-1"> </tr>
      </table>
  </div>
<!-- popup panel for configuration -->
  <div id="panel" class="messagepop pop" tabindex="102" >
     <table id= "popupTable">
      <tr>
       <td>
         <label>Left Team:</label>
       </td>
       <td>
         <label> Right Team:</label>
       </td>
     <tr>
       <td> <select id="teamLeft" tabindex="103" autofocus >
                 <option value=0>Argentina</option>
                  <option value=1>Brasil</option>
                  <option value=2>Chile</option>
                  <option value=3>Mexico</option>
              </select>
       </td>
       <td>
           <select id="teamRight" tabindex="104">
                     <option value=0>Argentina</option>
                     <option value=1>Brasil</option>
                     <option value=2>Chile</option>
                     <option value=3>Mexico</option>
                 </select>
       </td>
      </tr>
      <tr>
         <td>
           <label>Game Size:</label>
         </td>
         <td>
           <label>Timer Duration:</label>
         </td>
      <tr>
         <td>
            <input type="text" id="gameSize" tabindex = "105" value=100 ></input>
         </td>
         <td>
           <input type="text" id="timerDur" tabindex = "106" value=30 ></input>
         <td>
     </tr>
     <tr>
        <td>
          <label>Set Sizes:</label>
       </td>  
        <td>
         <label> Question Set:</label>
        </td> 
     <tr>
       <td> 
          <input type="file" id="fileSizeInput" tabindex ="107" />
       </td>
        <td>
          <input type="file" id="fileInput" tabindex ="108" />
        </td>
     </tr> 
     <tr>
        <td> Errors:</td>
     </tr>
     <tr>
       <td colspan="4">
        <input type="text" id="errors" tabindex = "-1" readonly ></input>
       </td>
     </tr>
     <tr>   
     <td colspan="4"> 
        <input type="button" id="closeDialog" class="close" tabindex = "109"  value="Accept"></input>
     </td>
  </tr>
 </div>
<table>
</div>
  <script src="../js/configMgr.js"></script>
  <script src="../js/popupMgr.js"></script>
  <script src="../js/QTimer.js"></script>
  <script src="../js/questionMgr.js"></script>
  <script src="../js/ball.js"></script>
  <script src="../js/possessionMgr.js"></script>
  <script src="../js/trackMgr.js"></script>
  <script >

    var ti = function(el){
     return Number(el.attributes['tabindex'].value)
     }

   $( document ).ready(function() {
    console.log( "ready!" );
    var cfgMgr = new ConfigMgr();
    $('#game').on("game:configured", function(){
      cfgMgr.configure(popupMgr.getConfig());
    });  
    var tbi, id;
    var tabs= new Map();

    var inputs = $('input, a, select, button'); //places only within the app to which I want to tab.
    for(i=0; i< inputs.length; i++){
      id = inputs[i].attributes['id'].value;     
      console.log('checking id: ' + id );
      tbi = ti(inputs[i]);
        tabs.set(tbi, inputs[i]); 
    }

     //bind on keydown
    inputs.on('keydown', function(e) {

        //if we pressed the tab
        if (e.keyCode == 9 || e.which == 9) {

            //prevent default tab action
            e.preventDefault();

            //get next tab based on the current input we left off
                ndx = ti(this);
                if( ndx > 100 && ndx < 109) { ndx +=1;}
                if( ndx > 8 && ndx <  15) { ndx += 1;}
                if( ndx == 0 || ndx == 15) {ndx=10;}
                 
            var nextInput = tabs.get(ndx);

            //if we have a next input, go to it. or go back
            if (nextInput) {
                nextInput.focus();
            }
            else{
                inputs[0].focus();
            }
        }
    });
});
  </script>
</body>

</html>
