<!--File: football.html -->

<!DOCTYPE html>

<html lang="en">
<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 

<style>
#game {width: 1500px; height:600px; position:relative; }

 #leftSideBar { width: 300px; height: 700px; background-color: lightgreen;}
   #clock { position: relative; top: 0px; left: 0px; height: 60px; width: 100%;font-size:xx-large; background-color: lightgreen; }
   #configure {position: relative; top: -26px; left: 210px; } 
   #falta { font-size: inherit; width: 70px; text-align: center;    margin-left: 10px; }
   #scores {width: 65%; height: 123px; position: relative; top: 8px; left: 0px; background-color: lightgreen; } 
     .scoreInput{width: 30px; font-size: large; position: relative; top: -24px; left: 5px; margin: 2px; margin-left: 10px; text-align:center;}
     .scoreBar {width:134px;}
   #question  {position: relative; left: 3px; top: 15px; height: 200px; width: 98%; font-size: x-large; background-color: lightgreen; }
    .q_a {position:relative;top: 5px; width:100%; height:95%; font-size:x-large;}
   #questionA {position: relative; }  
   #answer_A {color: white;}
   #timer30 { position: relative; top: 25px; height: 50px; background-color: lightgreen; }
   #seconds {width: 1.5em; margin-top: .4em; font-size: large;}
   #stopTimer {position:relative; left:25px; top: -4px;}
   #answer {position: relative; left: 3px; top: 25px; height: 200px; width: 98%; background-color: lightgreen; }
   #showAnswer { position: relative; left: 3px; top: 36px; height: 50px; background-color: lightgreen; padding-top: 10px;}
   #showResponse { position: relative; top: -15px;height: 30px; }
   #grade { position: absolute; left: 0px; top: 700px; width: 300px; height: 48px; background-color: lightgreen; padding-top: 10px; }
   #extras { position: relative; left: 210px; top: -30px;width: 30px; background-color:pink; }

 #rightSide { position: relative; left: 300px; top: -699px;width: 1297px; height: 757px; background-color: lightgreen;}
   #title {position:relative; left: 100px; height: 60px; width: 1200px; background-color: lightgreen;font-size: xx-large;text-align: center;}
   #buttons { position: relative; left: -4px; top: 649px; width: 214px; height: 34px; z-index: 2; background-color: lightgreen; }
     .button {margin:2px;background-color:lightgrey}
   #field {position: absolute; left: 100px; top: 83px; width: 1175px; height: 600px; background-color: #90EE90; }
    .fld { position: relative; top: -18px; height: 640px; margin-left: -5px; }
    #leftArrow { position: absolute; left: 473px; z-index: 0; }
    #rightArrow { position: absolute; top: -9px; left: 495px; z-index: 0;}
    #ball { position: absolute; left: 520px; top: 283px; width: 30px; height: 30px; z-index:4;} 
    #g1 { position: absolute; left: -35px; top: 263px; width: 30px; height: 90px; z-index: 3; }
    #g2{position: absolute; left: 1078px; top: 266px; width: 30px; height: 90px; z-index: 3;}
     .goal {width:30px; height:90px; }
    #leftGoalBarDiv  { position: absolute; left: 4px;    top: 365px; width: 110px; height: 65px; z-index: 2; -webkit-transform: rotate(-90deg)}
    #rightGoalBarDiv { position: absolute; left: 1164px; top: 358px; width: 110px; height: 65px; z-index: 2; -webkit-transform: rotate( 90deg)}

 #trackDiv { position: absolute; left: 0px; top: 773px; width: 1600px; height: 66px; background-color:cyan; }
     #track {  position: relative; left:   1px; top: 1px; }
     #X { position: relative; top: -53px; left: 256px; }
       .right {background-color:lightgreen;}
       .wrong {background-color:pink;}
       .possessing {background-color:yellow;}
a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}
  #config { position: absolute; left: 399px; z-index: 5; top: 32px; }
  #panel {position: absolute; top: -3px; left: 300px; width: 300px; height:50px; border-size:2px; }
  #gameSize {width:20px;}

</style>
</head>

<body>
<input type="hidden" id="leftTeam" name="leftTeam" value="-1"></input>
<input type="hidden" id="rightTeam" name="rightTeam" value="-2"></input>
<div id="game">
  <div id="leftSideBar">
    <div id="clock">
       Clock:<input type="text" id="falta" name="remaining"  value ='900' width= 50px readonly >  </div>
    <div id="config">
       <a href='/doConfig' id="doConfig">Configure</a>
    </div>
    <div id="scores">
      <div id="scoreBarLeftDiv"> </div>
      <div id="scoreBarRightDiv"> </div>
    </div>
    <div id="question">
      <input  type='submit' class = "button" id="quest" value="Question" formaction='/question' formmethod="post" formenctype="application/x-www-form-urlencoded" />
      </br>
       <textArea id="question_A" name="questionA" class= "q_a" font-size="x-large" rows="10" cols="15" readonly ><%=questionA %> </textArea>
    </div>
    <div id="timer30">
       Timer: <input type="text" id="seconds" value=''+30 readonly>
       <audio id= "beep" >
           <source src="../public/sounds/beep-07.wav" type="audio/wav">
       </audio>
       <audio id= "homer" >
           <source id="homer" src="../public/sounds/homer.wav" type="audio/wav">
       </audio>
       <input type="button" id="stopTimer" value="Clear"></input>
    </div>
    <div id="answer">
      <textArea id="answer_A" name="answerA" class= "q_a" rows="10" cols="15" readonly><%=answerA %> </textArea>
    </div>
    <div id="showAnswer">
       <button id="showResponse" class="button" >Show Answer</button>
    </div>
    <div id="grade">
       <select id="team" name="team" autofocus>
       </select>

       <select id="mode" name="mode" >
           <option value="0" >Advance</option>
           <option value="1" >Possess</option>
       </select>

       <select id="rightWrong" name="rightWrong" >
           <option value="0" >Right</option>
           <option value="1" >Wrong</option>
       </select>
       <input type='submit' id="saveGrade" class="button" value="track" formaction='/updateTrack' formmethod="post" formenctype="application/x-www-form-urlencoded" />
       <input type='submit' id="X" class="button" value="X" formaction='/updateTrack' formmethod="post" formenctype="application/x-www-form-urlencoded" />
   </div>
</div>
  <div id="rightSide">
    <div id="title">Americas Cup of English</div>
    <div id='buttons'>
     <input type="submit" class="button" id="dir" value="Possession" formaction='/possession' formmethod="post" formenctype="application/x-www-form-urlencoded"/>
     <input type="submit" class = "button" id="adv" value="Advance" formaction='/advance' formmethod="post" formenctype="application/x-www-form-url    encoded" />
     Extras: <input type ="text" id="extras"; background-color:pink; >
    </div>

    <div id="field">
      <div id="leftArrowDiv"> </div>
      <div id="rightArrowDiv"> </div>
       <img class="fld" id="quarterfieldA" src="../public/images/quarterFieldA.png">
       <img class="fld" id="midfield" src="../public/images/midField.png">
       <img class="fld" id="quarterfieldD" src="../public/images/quarterFieldD.png">
       <img  id="ball" src="../public/images/ball.png">
       <img id="g1" class:"goal" src="../public/images/soccerGoal.png">
       <img id="g2" class:"goal" src="../public/images/soccerGoal.png">
    </div>

    <div id="leftGoalBarDiv"> </div>
    <div id="rightGoalBarDiv"> </div>
    </div>

  </div>

  <div id="trackDiv">
      <table id="track" border="1px">
        <tr id="leftTeamq"> </tr>
        <tr id="rightTeamq"> </tr>
      </table>
  </div>

  <div id="panel" class="messagepop pop">
   <form method="post" id="new_message" action="/messages">
     Left: <select id="teamLeft" focus>
       <option value=0>Argentina</option>
        <option value=1>Brasil</option>
        <option value=2>Chile</option>
        <option value=3>Mexico</option>
       </select>
       Right:<select id="teamRight">
        <option value=0>Argentina</option>
        <option value=1>Brasil</option>
        <option value=2>Chile</option>
        <option value=3>Mexico</option>
       </select>
       GameSize:<input type="text" id="gameSize" value=100 ></input>
       <input type="submit" class="close" value="Accept"></input>
  </div>
 </form>
</div>

</div>

<script>
function deselect(e) {
  $('.pop').slideFadeToggle(function() {
    e.removeClass('selected');
  });
}

//Popup to get configuration: leftTeam, rightTeam, gameSize
$(function() {
  $('#doConfig').on('click', function() {
    if($(this).hasClass('selected')) {
      deselect($(this));
    } else {
      $(this).addClass('selected');
      $('.pop').slideFadeToggle();
    }
    return false;
  });
  $('.close').on('click', function() {
    deselect($('#doConfig'));
   console.log('Closed the popup: ' + $('#teamLeft').val() +' -> ' + $('#teamRight').val() + ' -> ' + $('#gameSize').val());
   configure(Number($('#teamLeft').val()), Number($('#teamRight').val()), Number($('#gameSize').val()));
    return false;
  });
});

$.fn.slideFadeToggle = function(easing, callback) {
  return this.animate({ opacity: 'toggle', height: 'toggle' }, 'fast', easing, callback);
};

var teams =[];
var ballPositions = ['-30px', '200px', '515px', '830px', '1080px'];
var ans= ["right", "wrong"];
var answerColor = ['#FFFFFF','#000000'];
var count=100;
var ballDirection = 0; //will be random later.
var ballLocation = 2;
var isVisible = 0; // hide answer is default.
var beep = document.getElementById("beep"); 
var homer = document.getElementById("homer"); 
var stop = false;
$(document).ready( function () {
//alert('JQuery is loaded and ready.');
$('#falta').val(count);
$('#X').disable(true);

$('#configButton').click(function(){
  //alert('Clicked Config Button.');
  
});

 $('#showResponse').click(function(){
  isVisible=isVisible^1;
  $('#answer_A').css('color', answerColor[isVisible]);
});

 $('#stopTimer').click(function(){
  stop=true;
  $('#seconds').val(0);
});

$('#saveGrade').click(function (){
  var ndx = teams.indexOf(Number($('#team').val())); 
  var rightWrong = $('#rightWrong').val();
  var ltt =  $('#leftTeamq'); 
  var rtt =  $('#rightTeamq'); 
  var row = (ndx<1)? ltt : rtt;
  var num =$('#extras').val();

  if(num > 0 ){
    fixTd(num, rightWrong,row);
  }else{
    createTd(count, rightWrong, row);
 }
 //set the dropdown to the other team.
    ndx=(ndx +1)%2;
   $('#team').val(teams[ndx]); 
});

$('#dir').click(function(){
  ballDirection = ballDirection * -1;
  setDirectionIndicators(ballDirection);
});

$('#adv').click(function(){ //advance the ball in the current direction.
  ballLocation += ballDirection;
  $('#ball').css('left', ballPositions[ballLocation]);
  if(ballLocation === 0 && ballDirection === -1){
   console.log('Goal!!');
   $('#leftScore').val(Number($('#leftScore').val()) + 1 );
   ballDirection = -ballDirection;
   setDirectionIndicators(ballDirection);
   $('#X').disable(false);
  }
  if(ballLocation === 4 && ballDirection === 1){
   console.log('Goal!!');
   $('#rightScore').val(Number($('#rightScore').val()) +1 );
   ballDirection = -ballDirection;
   setDirectionIndicators(ballDirection);
   $('#X').disable(false);
  }
  if(ballLocation != 0 && ballLocation != 4) {
   $('#X').disable(true);
  }
});

//Unopposed Goal Kick to put the ball in play.
$('#X').click(function(){
 var ndx = teams.indexOf($('#team').val()); // ndx will be a zero or a one.
  showGoaleeKick(Number(ndx));
  $('#team').val((ndx +1)%2); //select the other team.
});
$('#quest').click(function(){
  var tm = Number($('#team').val());
  var num = Number($('#extras').val());
//  alert('Extras number is: ' + num );
  var question, answer;
  if(num > 1 ){
    question =  (tm === 1)?items[num].qp : items[num].qs;
    answer   = items[num].a;
    startTimer();
  } else {

    count--;
    if(count < 0 ){alert ('Clock is expired. Use Pink questions in the track. Penalty Kicks.');}
    updateClock(count);
    question =  (tm === 1)?items[count].qp : items[count].qs;
    answer   = items[count].a;
    startTimer();
}
 //Set the question and answer, then hide the answer by turning it white on a white background.
  $('#question_A').text(question);
  $('#answer_A').text(answer);
  $('#answer_A').css('color', '#FFFFFF');
});
}); //end document.ready
var setDirectionIndicators=function(bdir){
  $('#leftArrow').css('z-index', (bdir > 0)?  -1:  1);
  $('#rightArrow').css('z-index',(bdir < 1)?  -1:  1);
  if(bdir <0) {
     $('#team').val(0);
     $('#mode').val(0);
     $('#leftTeamName').addClass('possessing');
     $('#rightTeamName').removeClass('possessing');
     $('#team').val(1);
  } else {
     $('#mode').val(0);
     $('#leftTeamName').removeClass('possessing');
     $('#rightTeamName').addClass('possessing');
     $('#team').val(0);
  }
}

var showGoaleeKick=function(tm){
   var td ='<td>' + 'X' + '</td>';
   if(tm===0){
      $('#leftTeamq').append(td);
   }else{
      $('#rightTeamq').append(td);
   }
}
var createTd=function(num, rw, row){
   updateClock(num);
   var td ='<td class="' + ans[rw] + '" id="' + num  + '" >' + num + '</td>';
   row.append(td);
}
var fixTd=function( num, rw, row){
   updateClock(num);
   var id='#' +num;
   $(id).removeClass(ans[rw^1]).addClass(ans[rw])
   $('#extras').val('');
}
var coinFlip = function(){
return Math.floor((Math.random() * 3)-1 ); //will be one of:{-1,0,1} if zero, tries again.Hence, either a -1 or +1 emerges to determine starting possession
}
var updateClock = function(num){
  $('#falta').val(num);
}
jQuery.fn.extend({
    disable: function(state) {
        return this.each(function() {
            this.disabled = state;
        });
    }
});

var startTimer = function(){
   $('#seconds').val(30);
   var endTimeMS= new Date().getTime() + 30000;
   var timeinterval = setInterval(function(){
//need to see if I can shut down the timer by a command.
      var t = clockTick(endTimeMS);
      $('#seconds').val(t);
      if(stop) {
        clearInterval(timeinterval); 
        stop=false;
        $('#seconds').val(0);
      }
      if(t<=0){
       clearInterval(timeinterval);
       beep.play();
       setTimeout(function(){ homer.play();}, 500);
      }
    },1000);
}

var clockTick = function(etms){
  var nowMS = new Date().getTime();
  var tMS = etms - nowMS;
  var seconds = Math.floor(tMS/1000);
  return seconds;
}

var configure=function(lt,rt,sz){
  teams = [lt,rt];
  console.log('Configuring Game with: ' + lt + ', ' + rt + ', ' + sz);
  $("#scoreBarLeftDiv").html(scoreBars[lt] +  '<input type="text" id="leftScore"  name="leftScore"  class="scoreInput" readonly="true" value="0">'); 
  $("#scoreBarRightDiv").html(scoreBars[rt] + '<input type="text" id="rightScore" name="rightScore" class="scoreInput" readonly="true" value="0">'); 
  $("#leftGoalBarDiv").html(  goalBars[lt]); 
  $("#rightGoalBarDiv").html( goalBars[rt]); 
  $("#leftArrowDiv").html(leftArrows[lt]); 
  $("#rightArrowDiv").html( rightArrows[rt]); 
  var leftTd ='<td id="leftTeamName"  class= "trackName" >' + countries[lt] + '</td>';
  var rightTd='<td id="rightTeamName" class= "trackName" >' + countries[rt] +'</td>';
  $('#leftTeamq').html(leftTd);
  $('#rightTeamq').html(rightTd);
//select teams in tracking.
  var leftOption  = '<option value=' + lt + '>' + countries[lt] + '</option>';
  var rightOption = '<option value=' + rt + '>' + countries[rt] + '</option>';
  $('#team').html(leftOption + rightOption);

 // Random draw to decide who has possession at start of game. 
  while(ballDirection === 0){
   ballDirection = coinFlip();
 }
 setDirectionIndicators(ballDirection); 
 updateClock(sz);
}

// Data for the app.

  var leftArrows= [
                   '<img id="leftArrow" src="../public/images/ArrowLeftA.png">'
                 , '<img id="leftArrow" src="../public/images/ArrowLeftB.png">'
                 , '<img id="leftArrow" src="../public/images/ArrowLeftC.png">'
                 , '<img id="leftArrow" src="../public/images/ArrowLeftM.png">'
                  ];

  var rightArrows= [
                    '<img id="rightArrow" src="../public/images/ArrowRightA.png">'
                  , '<img id="rightArrow" src="../public/images/ArrowRightB.png">'
                  , '<img id="rightArrow" src="../public/images/ArrowRightC.png">'
                  , '<img id="rightArrow" src="../public/images/ArrowRightM.png">'
                   ];

  var countries = ["Argentina", "Brasil", "Chile", "Mexico"];

  var scoreBars =[
                  '<img class="scoreBar" src="../public/images/ArgentinaScoreBar.png">'
                 , '<img class="scoreBar" src="../public/images/BrasilScoreBar.png">'
                 , '<img class="scoreBar" src="../public/images/ChileScoreBar.png">'
                 , '<img class="scoreBar" src="../public/images/MexicoScoreBar.png">'
                 ];

 var goalBars =[
                '<img class="goalBar" src="../public/images/ArgentinaScoreBar.png">'
               , '<img class="goalBar" src="../public/images/BrasilScoreBar.png">'
               , '<img class="goalBar" src="../public/images/ChileScoreBar.png">'
               , '<img class="goalBar" src="../public/images/MexicoScoreBar.png">'
               ];



var items = [
{"a":"The weather is cloudy.","count":26,"q":"When you cannot see the sun, but you can see trees and houses, you would say that the weather is ______.",ps:"Spanish: Cuando no puede ver el sol, pero puede ver arborls e casas, digeria 'the weather is ____. ", "qp":"Portuguese: Quando pode ver casas e arvoles, pero not pode ver el sol, dizeria 'The weather is ______.", "set":1,"type":"Weather"},
{"a":"The weather is sunny.","count":24,"q":"When the sky is clear, you would say that the weather is _______.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Tiempo"},
{"a":"The weather is windy.","count":23,"q":"When the trees are moving to and fro, you would say that the weather is ________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Tiempo"},
{"a":"The weather is cold.","count":25,"q":"When the temperature is low, you would say that the weather is ______",qs:"Spanish",qp:"Portuguese","set":1,"type":"Tiempo"},
{"a":"plate","count":14,"q":"For dinner, you are having steaks, each person's steak will be on their _______.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Cocina"},
{"a":"The weather is Foggy.","count":27,"q":"When you cannot see the houses and trees around you, the weather is _________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Tiempo"},
{"a":"cup or glass","count":16,"q":"At dinner, you would drink from your _________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Cocina"},
{"a":"Spoon","count":29,"q":"At dinner, you would eat your soup with a __________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Cocina"},
{"a":"Fork","count":75,"q":"At dinner, you would eat steak with a ________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Cocina"},
{"a":"Knife","count":53,"q":"At dinner, you would cut your steak with a _______.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Cocina"},
{"a":"Table","count":28,"q":"At dinner, families sit around a ____________?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Cocina"},
{"a":"Eggs","count":81,"q":"At breakfast, one can eat what the chickens give. You could have scrambled _______.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Cocina"},
{"a":"Cheese","count":91,"q":"What solid product of Milk can be grated and put on spagetthi?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Cocina"},
{"a":"Milk","count":49,"q":"At Breakfast, you may drink something which we get from cows:  _________ .",qs:"Spanish",qp:"Portuguese","set":1,"type":"Cocina"},
{"a":"Pie","count":38,"q":"A baked dessert which may contain fruits is called a ______  ( tarta)",qs:"Spanish",qp:"Portuguese","set":1,"type":"Cocina"},
{"a":"Cake","count":93,"q":"On your birthday, you may have a birthday _______ with candles.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Cocina"},
{"a":"Nephew","count":46,"q":"Two men marry sisters. Each family has a boy and a girl. To the men, the son of the other family would be a  __________.?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Go up","count":62,"q":"How would you tell someone to move higher?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Direcciones."},
{"a":"Go Forward","count":68,"q":"How would you tell someone to advance?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Direcciones."},
{"a":"Go Back or Backward","count":71,"q":"How would you tell someone to regress?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Direcciones."},
{"a":"Go Right","count":65,"q":"How would you tell someone to move to the derecha?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Direcciones."},
{"a":"Go Left","count":67,"q":"How would you tell someone to move to the esquierda?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Direcciones."},
{"a":"Go Down","count":70,"q":"How would you tell someone to move lower?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Direcciones."},
{"a":"Go North","count":66,"q":"How would you tell someone to move away from the South Pole?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Direcciones."},
{"a":"Go South.","count":64,"q":"How would you tell someone to move away from the North Pole?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Direcciones."},
{"a":"Go East.","count":69,"q":"How would you tell someone to move toward the sunrise?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Direcciones."},
{"a":"Go West.","count":63,"q":"How would you tell someone to move toward the sunset?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Direcciones."},
{"a":"Cold","count":87,"q":"What is the opposite of: Hot ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Clean","count":89,"q":"What is the opposite of: Dirty ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Left or Wrong","count":51,"q":"What is the opposite of: Right ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Sad","count":36,"q":"What is the opposite of: Happy ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Large","count":52,"q":"What is the opposite of: Small ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Awake","count":98,"q":"What is the opposite of: Asleep?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Slow","count":31,"q":"What is the opposite of: Fast ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Girl","count":72,"q":"What is the opposite of: Boy ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"There","count":22,"q":"What is the opposite of: Here ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Deep","count":83,"q":"What is the opposite of: Shallow ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Sour or Bitter","count":30,"q":"What is the opposite of: Sweet ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Off","count":42,"q":"What is the opposite of: On ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Evil or Bad","count":80,"q":"What is the opposite of: Good ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Full","count":73,"q":"What is the opposite of: Empty ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Far","count":78,"q":"What is the opposite of: Near ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Out","count":39,"q":"What is the opposite of: In ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Closed","count":88,"q":"What is the opposite of: Open ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Healthy, Well","count":55,"q":"What is the opposite of: Sick ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Opposites"},
{"a":"Cow Calf or Bull","count":84,"q":"What animal makes the sound Moo?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Animals"},
{"a":"Horse","count":54,"q":"A Gaucho rides on a _________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Animals"},
{"a":"Goat","count":61,"q":"What animal has a beard?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Animals"},
{"a":"Sheep","count":34,"q":"What animal gives us wool?", "set":1,qs:"Spanish",qp:"Portuguese","type":"Animals"},
{"a":"Bull","count":94,"q":"What animal mates with the cow?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Animals"},
{"a":"Calf","count":92,"q":"What is the offspring of the Cow and Bull?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Animals"},
{"a":"Pig","count":37,"q":"What animal gives us bacon and Ham? (Chancho, Porco)",qs:"Spanish",qp:"Portuguese","set":1,"type":"Animals"},
{"a":"Chicken","count":90,"q":"What animal gives us the most eggs for cooking?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Animals"},
{"a":"Arm","count":100,"q":"What part of the body allows us to carry groceries?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Body"},
{"a":"Body","count":96,"q":"What do we call the entire (Corpo, Cuerpo)?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Body"},
{"a":"Leg","count":50,"q":"What body part allows us to run?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Body"},
{"a":"Finger","count":76,"q":"What body part allows us to type or play musical instruments?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Body"},
{"a":"Toe","count":19,"q":"What body part extends from the foot?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Body"},
{"a":"Head","count":56,"q":"What body part contains our brain?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Body"},
{"a":"Shoulder","count":33,"q":"The upper arm is connected to the _________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Body"},
{"a":"Back","count":97,"q":"The body part which is opposite of front is __________?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Body"},
{"a":"Eye","count":79,"q":"This body part allows us to see. _________",qs:"Spanish",qp:"Portuguese","set":1,"type":"Body"},
{"a":"Ear","count":82,"q":"This body part allows us to hear._________",qs:"Spanish",qp:"Portuguese","set":1,"type":"Body"},
{"a":"Nose","count":43,"q":"This body part allows us to smell._______",qs:"Spanish",qp:"Portuguese","set":1,"type":"Body"},
{"a":"Mouth","count":47,"q":"The body part which allows us to speak, and eat._______",qs:"Spanish",qp:"Portuguese","set":1,"type":"Body"},
{"a":"Mother","count":48,"q":"In a family, the female that has the children is called __________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Father","count":77,"q":"In a family, the adult male is called _________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Uncle","count":17,"q":"Two men marry sisters. Each family has a boy and a girl. The children would call the other man their ______. ",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Aunt","count":99,"q":"Two men marry sisters. Each family has a boy and a girl. The children would call the other woman their ______.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Brother","count":95,"q":"A family has a boy and a girl.The girl would call the boy her __________. ",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Sister","count":32,"q":"A family has a boy and a girl.The boy would call the girl his __________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Cousin","count":86,"q":"Two men marry sisters. Each family has a boy and a girl. The girl in one family would call the girl of the other family her _________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Cousin","count":85,"q":"Two men marry sisters. Each family has a boy and a girl. The boy in one family would call the boy of the other family his _________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Grandmother","count":58,"q":"The mother of my mother ( or father)  is my ____________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Grandfather","count":59,"q":"The father of my father (or mother) is my ____________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Nephew","count":45,"q":"Two men marry sisters. Each family has a boy and a girl. The man from the first family would call the son from the second family his ______.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Niece","count":44,"q":"Two men marry sisters. Each family has a boy and a girl. The man from the first family would call the girl from the other family his ______.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Grandson","count":57,"q":"The son of my son( or daughter) is my _______________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"Granddaughter","count":60,"q":"The daughter of my son (or daughter) is my ____________.",qs:"Spanish",qp:"Portuguese","set":1,"type":"Relaciones Familiar"},
{"a":"One plus three equals four","count":40,"q":"Give the problem and solution in english: 1+3=? ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Numbers"},
{"a":"Seven minus three equals four","count":35,"q":"Give the problem and solution in english: 7-3=? ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Numbers"},
{"a":"Three plus Seven equals ten","count":21,"q":"Give the problem and solution in english: 3+7=? ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Numbers"},
{"a":"Two minus one equals one","count":18,"q":"Give the problem and solution in english: 2-1=? ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Numbers"},
{"a":"One plus one equals two","count":41,"q":"Give the problem and solution in english: 1+1=? ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Numbers"},
{"a":"Four plus five equals nine","count":74,"q":"Give the problem and solution in english: 4+5=? ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Numbers"},
{"a":"Three plus five equals eight","count":20,"q":"Give the problem and solution in english: 3+5=? ?",qs:"Spanish",qp:"Portuguese","set":1,"type":"Numbers"},
{"a":"Monday","count":20,"q":"What is the first weekday in english?",qs:"Spanish",qp:"Portuguese","type":"Days of the Week"},
{"a":"Tuesday","count":20,"q":"What is the second weekday in english?",qs:"Spanish",qp:"Portuguese","type":"Days of the Week"},
{"a":"Wednesday","count":20,"q":"What is the third weekday in english?",qs:"Spanish",qp:"Portuguese","type":"Days of the Week"},
{"a":"Thursday","count":20,"q":"What is the fourth weekday in english?",qs:"Spanish",qp:"Portuguese","type":"Days of the Week"},
{"a":"Friday","count":20,"q":"What is the fifth weekday in english?",qs:"Spanish",qp:"Portuguese","type":"Days of the Week"},
{"a":"Saturday","count":20,"q":"What is the first day of the weekend in english?",qs:"Spanish",qp:"Portuguese","type":"Days of the Week"},
{"a":"Sunday","count":20,"q":"What is the second day of the weekend in english?",qs:"Spanish",qp:"Portuguese","type":"Days of the Week"},
{"a":"January","count":20,"q":"What is the first month(Enero) of the year in english?",qs:"Spanish",qp:"Portuguese","type":"Months of the Year"},
{"a":"July","count":20,"q":"What is the seventh month (Julio) of the year in english?",qs:"Spanish",qp:"Portuguese","type":"Months of the Year"},
{"a":"August","count":20,"q":"What is the eighth month (Ago) of the year in english?",qs:"Spanish",qp:"Portuguese","type":"Months of the Year"},
{"a":"October","count":20,"q":"What is the tenth month (Oct) of the year in english?",qs:"Spanish",qp:"Portuguese","type":"Months of the Year"},
{"a":"November","count":20,"q":"What is the eleventh month (Nov) of the year  in english?",qs:"Spanish",qp:"Portuguese","type":"Months of the Year"},
{"a":"December","count":20,"q":"What is the twelvth month (Dic) of the year in english?",qs:"Spanish",qp:"Portuguese","type":"Months of the Year"},
{"a":"April","count":20,"q":" What is the fourth month (Abr) of the year in english?",qs:"Spanish",qp:"Portuguese","type":"Months of the Year"},
{"a":"May","count":20,"q":"What is the fifth month (Mai) of the year in english?",qs:"Spanish",qp:"Portuguese","type":"Months of the Year"},
{"a":"June","count":20,"q":"What is the sixth month (Jun) of the year in english?",qs:"Spanish",qp:"Portuguese","type":"Months of the Year"},
{"a":"Happy Birthday","count":20,"q":"What do you say on a persons date of birth?",qs:"Spanish",qp:"Portuguese","type":"Phrases"},
{"a":"I am ","count":20,"q":"How do you say 'Yo soy' or 'Eu sou'  in english?",qs:"Spanish",qp:"Portuguese","type":"Phrases"},
{"a":"I have ","count":20,"q":"How do you say 'yo tengo' or 'eu tenho' in english?",qs:"Spanish",qp:"Portuguese","type":"Phrases"},
{"a":"telephone","count":20,"q":"To communicate over long distances we usually use the _______.",qs:"Spanish",qp:"Portuguese","type":"Phrases"},
{"a":"mouth","count":20,"q":"What is the _____boca ___  in english?",qs:"Spanish",qp:"Portuguese","type":"Phrases"},
{"a":"brown","count":20,"q":"The color of coffee is ________?",qs:"Spanish",qp:"Portuguese","type":"Colors"},
{"a":"black","count":20,"q":"The darkest color is ______?",qs:"Spanish",qp:"Portuguese","type":"Colors"},
{"a":"red","count":20,"q":"The color of blood is _______?",qs:"Spanish",qp:"Portuguese","type":"Colors"},
{"a":"green","count":20,"q":"The color of grass is______?",qs:"Spanish",qp:"Portuguese","type":"Colors"},
{"a":"Present","count":20,"q":"What tense?): The pencil is on the desk.(past, present,future",qs:"Spanish",qp:"Portuguese","set":1,"type":"Tense"},
{"a":"Past","count":20,"q":"What tense? I ate my sandwich( past,  present,  future)",qs:"Spanish",qp:"Portuguese","set":1,"type":"Tense"},
{"a":"Past","count":20,"q":"What tense?: We had a fun party! (past, present,future",qs:"Spanish",qp:"Portuguese","type":"Tense"},
{"a":"Future","count":20,"q":"What tense?: We will do it later!(past, present,future) ",qs:"Spanish",qp:"Portuguese","type":"Tense"},
{"a":"Present","count":20,"q":"What tense? He is outside. (past, present,future): ",qs:"Spanish",qp:"Portuguese","type":"Tense"},
{"a":"is","count":20,"q":"Fill in Blank: Jim  ___ hungry.(am, is, are) ",qs:"Spanish",qp:"Portuguese","type":"Verb Conjugation"},
{"a":"are","count":20,"q":"Fill in Blank(am, is, are): Bill and Patty  ___ lost.",qs:"Spanish",qp:"Portuguese","type":"Verb Conjugation"},
{"a":"are","count":20,"q":"Fill in Blank(am, is, are): We  ___ at home.",qs:"Spanish",qp:"Portuguese","type":"Verb Conjugation"},
{"a":" is singing","count":20,"q":"Fill in Blank(am running, is singing, are eating): Billy ___ .",qs:"Spanish",qp:"Portuguese","type":"Verb Conjugation"},
{"a":" am not going","count":20,"q":"Fill in Blank: I ______(a. am not going b. is grateful c. are asking her)",qs:"Spanish",qp:"Portuguese","type":"Verb Conjugation"},
{"a":"Jim","count":20,"q":"Fill in Blank: What is  ______ doing? (a. Jim b. her c. they)",qs:"Spanish",qp:"Portuguese","type":"Verb Conjugation"},
{"a":"they","count":20,"q":"Fill in Blank): What are ____ bringing?(a. he b. they c. Tim)",qs:"Spanish",qp:"Portuguese","type":"Verb Conjugation"},
{"a":"its","count":20,"q":"Fill in Blank:  My dog lost _______________ collar.(a. its b. she c. him)",qs:"Spanish",qp:"Portuguese","type":"Verb Conjugation"},
{"a":"us","count":20,"q":"Fill in Blank: The horses belong to _____________ .(a. she b. he c. us) ",qs:"Spanish",qp:"Portuguese","type":"Verb Conjugation"},
{"a":"orange","count":20,"q":"The color of an orange is _____?",qs:"Spanish",qp:"Portuguese","type":"Colors"},
{"a":"blue","count":20,"q":"The color of the sky is _____?",qs:"Spanish",qp:"Portuguese","type":"Colors"},
];

</script>
</body>

</html>
